@keyframes moveRight {
  from {
    left: 30px;
  }

  to {
    left: calc(100% - 30px);
  }
}

#animation-delay {
  .property__animated-object {
    animation-duration: 2s;
    animation-delay: 2500ms;

    &--default {
      animation-delay: 0s;
    }
  }
}

#animation-direction {
  .property__animated-object {
    //animation-name: moveRight;
    animation-duration: 2s;
    animation-direction: reverse;

    &--default {
      animation-direction: normal;
    }
  }
}

#animation-duration {
  .property__animated-object {
    animation-duration: 5800ms;

    &--default {
      animation-duration: 8s;
    }
  }
}

#animation-timing-function {
  .property__animated-object {
    animation-duration: 2s;

    &--default {
      animation-timing-function: linear;
    }
  }
}

.atf-ease {
  .property__animated-object {
    animation-timing-function: ease;
  }
}

.atf-ease-in {
  .property__animated-object {
    animation-timing-function: ease-in;
  }
}

.property__animated-object--is-animated {
  animation-name: moveRight;
  animation-iteration-count: infinite;
}

