.header {
  display: flex;
  background-color: #3c0091;
  padding: 20px;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 4px 14px 52px -14px #92fffb;
  border-bottom: 2px solid #92fffb;
  z-index: 100;
  margin-top: 63px;

  &__logo-wrapper {
   padding: 20px;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   z-index: -2;
 }
}

.header-content {
  padding-right: 10px;
  &__title {
    //color: #933e63;
    color: #ffffff;
    font-weight: 300;

    strong {
      //color: #F26444;
      color: #ed2d32;
    }
  }

  &__description {
    //color: #aa969f;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 10px;
  }
}

.logo {
  position: relative;
  min-width: 225px;
  animation-duration: 2s;
  display: block;
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  flex-wrap: wrap;
}

@media ($tablet-width) {
  .header {
    padding: 10px 40px;
    position: fixed;
    max-width: 1349px;
    margin-top: 0;
    width: 75%;
    right: 0;

    &__logo-wrapper {
      overflow: hidden;
      min-height: 142px;
      position: relative;
      left: auto;
      transform: none;

      .logo {
        position: absolute;
        bottom: 10px;
      }
    }
  }

  .header-content-wrapper {
    flex-wrap: nowrap;
  }
  .header-content {
    &__description {
      padding-bottom: 0;
    }
  }
}

@media ($desktop-width) {
  .header {
    width: 80%;

    &__logo-wrapper {
      overflow: hidden;
      min-height: 105px;
    }
  }
}
